@import url("https://fonts.googleapis.com/css?family=EB Garamond:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Outfit:100,200,300,400,500,600,700");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --brand: #062590;
  --sub: #00dbd7;
  --body: #516171;
  --border: rgba(0,0,0,0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

html,
body {
	font-family: "Outfit", sans-serif;
	-webkit-font-smoothing: antialiased;
  /* overflow: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "EB Garamond", sans-serif;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Outfit", sans-serif;
	color: #707070;
	font-weight: 400;
	line-height: 26px;
}

li {
  list-style: none;
}

.classynav ul {
  margin: 0;
  padding: 0; 
}
.classynav ul li {
  margin: 0;
  padding: 0; 
}

a {
  color: var(--body);
  text-decoration: none;
}

a:hover {
  color: var(--brand);
  text-decoration: none;
}

.text-brand{
  color: var(--brand);
}

.background-brand{
  background-color: var(--brand);
}

.btn-brand{
  background-color: var(--brand);
  color: white;
}

.btn-brand:hover{
  background-color: white;
  color: var(--brand);
  border: 1px solid var(--brand);
}

/* Topbar */
.topbar .icons a{
  color: black;
  background-color: white;
  border: 1px solid white;
}

.topbar .icons a:hover{
  background-color: black;
  color: white;
  border: 1px solid white;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/* Back to Top */
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
  background-color: #000000;
  color: white;
}

.back-to-top:hover{
  color: white;
}

/* Float Icons */
.float {
  position:fixed;
  width:60px;
  height:60px;
  bottom:110px;
  left:20px;
  background-color:#37b6ff;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float-2 {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  left:20px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float {
  margin-top:16px;
}

.float:hover {
  color: #37b6ff;
  background-color: white;
  border: 1px solid #37b6ff;
}

.float-2:hover {
  color: #25d366;
  background-color: white;
  border: 1px solid #25d366;
}

.close {
  color: #000;
  opacity: 0.7;
  font-size: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.close:hover {
  opacity: 1;
}

/* Navbar */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: rgba(255, 255, 255, 0.7); }
  .site-navbar .site-logo {
  position: relative;
  left: 0;
  top: -5px; }
  .site-navbar .site-navigation .site-menu {
  margin-bottom: 0; }
  .site-navbar .site-navigation .site-menu .active {
  color: var(--brand);
  display: inline-block;
  padding: 5px 20px; }
  .site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block; }
  .site-navbar .site-navigation .site-menu > li {
  display: inline-block; }
  .site-navbar .site-navigation .site-menu > li > .nav-link {
  /* padding: 20px 10px; */
  padding: 0px;
  margin: 0px 10px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  display: inline-block;
  text-decoration: none !important; }
  .site-navbar .site-navigation .site-menu > li > .top-button {
  padding: 10px 20px;
  color: #000;
  display: inline-block;
  text-decoration: none !important; }
  .site-navbar .site-navigation .site-menu > li > a:hover {
  color: var(--brand); }
  .site-navbar .site-navigation .site-menu .has-children {
  position: relative; }
  .site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px; }
  .site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon'; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  /* border-top: 2px solid #000; */
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #000; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown .active {
  color: var(--brand) !important; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  /* min-width: 210px; */
  min-width: 250px;
   }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  /* padding: 10px 50px; */
  padding: 10px 0px 0px 25px;
  display: block; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  /* background: #eff1f3; */
  color: #6ac754;
 }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px; }
  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0; }
  .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
  color: var(--brand); }
  .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer; }
  .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1; }
  
  .site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px; }
  .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative; }
  .site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529; }
  .site-mobile-menu .site-nav-wrap a:hover {
  color: var(--brand); }
  .site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block; }
  .site-mobile-menu .site-nav-wrap li .active {
  color: var(--brand); }
  .site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%; }
  .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa; }
  .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%; }
  .site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 15px; }
  .site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 13px; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block; }
  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px; }
  .site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em; }
  .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto; }
  .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important; }
  
  .sticky-wrapper {
    position: absolute;
    z-index: 100;
    width: 100%; }
    .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .sticky-wrapper .site-navbar .site-menu-toggle {
    color: #ffffff; }
    .sticky-wrapper .site-navbar .site-logo a {
    color: #ffffff; }
    .sticky-wrapper .site-navbar .site-menu > li > a {
    color: rgba(255, 255, 255) !important; }
    .sticky-wrapper .site-navbar .site-menu > li > a:hover, .sticky-wrapper .site-navbar .site-menu > li > a.active {
    color: #ffffff !important; }
    .sticky-wrapper.is-sticky .site-navbar {
    /* background: #000000; */
    background: #ffffff;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1); }
    .sticky-wrapper.is-sticky .site-navbar .site-menu-toggle {
    /* color: #ffffff; */
    color: black; }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
    /* color: #ffffff; */
    color: black; }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
    /* color: #ffffff !important; */
    color: black !important;
    /* padding: 20px 20px; */
    /* margin-bottom: 20px; */
   }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
    color: var(--brand) !important; }
    .sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
  

.nav-brand img{
    height: 75px;
    margin: 5px 0px;
}

/*** Footer ***/
.footer{
  /* background-color: white; */
  background-color: #062590;
}

.footer a{
  text-decoration: none;
}

.footer-head{
  color: white;
  font-weight: 900;
}

.footer-color{
  color: white;
  /* color: black; */
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: .3s;
  /* background-color: var(--brand);
  border: 1px solid var(--brand); */
}

.footer .btn.btn-social:hover {
  color: black;
  /* background-color: white; */
  /* background-color: black;
  border: 1px solid var(--brand); */
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  /* color: black; */
  color: white;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: white;
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .3);
}

.footer .copyright a {
  color: white;
}

.footer .copyright a:hover {
  color: #ffffff;
}

@media (min-width:967px){
  .site-header{
    padding-top: 20px;
  }
  .site-navbar .site-navigation .site-menu .has-children .dropdown-padding{
    padding: 30px 0px !important;
  }
}

.btn_1,
.btn_2:hover,
.main_menu .navbar-toggler:after,
.banner_part .banner_text .btn_1,
.feature_part .single_feature:hover span {
  background-image: linear-gradient(to left, #3051c9 0%, #062590 51%, #3051c9 100%);
}

.btn_1 {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  border: 1px solid transparent;
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
  border: 5px solid #97a6db;
}

/* line 38, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_1:hover {
  color: #fff !important;
  background-position: right center;
  box-shadow: 0px 10px 30px 0px rgba(193, 34, 10, 0.2);
}

@media (max-width: 576px) {

  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, .1);
  z-index: 1;
}
.carousel-item img{
  filter: brightness(50%);
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
}
/* .carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  width: 3rem;
  height: 3rem;
  background-color: var(--brand);
} */

@media (max-width: 768px) {
  #header-carousel .carousel-item {
      position: relative;
      min-height: 450px;
  }
  
  #header-carousel .carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

@keyframes slideInDownWithOpacity {
  0% {
    transform: translateY(-100%); /* Start above the viewport */
    opacity: 0; /* Fully transparent */
  }
  100% {
    transform: translateY(0); /* End at its original position */
    opacity: 1; /* Fully opaque */
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; /* Ensure the element retains the final state */
}

.slideInDown {
  animation-name: slideInDownWithOpacity;
}

/*Tetstimonials*/
.review-container {
  width: 80%;
  max-width: 800px;
  height:min-content;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.star-rating {
display: flex;
flex-direction:row;
justify-content: flex-start;
}

.star {
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

.star.selected,
.star:hover,
.star:hover ~ .star {
  color: #f39c12;
  
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Form label styles */
label {
  display: block;
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Input and textarea styles */
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
button[type="sub-button"] {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

button[type="sub-button"]:hover {
  background: linear-gradient(45deg, #2575fc, #6a11cb);
  transform: translateY(-2px);
}

button[type="sub-button"]:active {
  transform: translateY(0);
  background: linear-gradient(45deg, #6a11cb, #2575fc);
}
#reviews {
  margin-bottom: 20px;
}

.review {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

#contact-1 {
  background: linear-gradient(rgba(19, 53, 123, .8), rgba(19, 53, 123, .8)), url("../img/image-2/img4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.wrapper {
  width: 100%; }

.contact-wrap {
  background: #fff; }

@media (max-width: 767.98px) {
  .info-wrap {
    height: 400px; } }

.dbox {
  width: 100%;
  margin-bottom: 25px; }
@media (max-width: 767.98px) {
.dbox {
  margin-bottom: 25px !important;
  padding: 0 20px; } }
.dbox p {
margin-bottom: 0; }
.dbox p span {
  font-weight: 500;
  color: #000000; }
.dbox p a {
  color: var(--brand); }
.dbox .icon {
width: 100px;
height: 100px;
border-radius: 50%;
background: var(--brand);
margin: 0 auto;
margin-bottom: 20px; }
.dbox .icon span {
  font-size: 30px;
  color: #fff; }
.dbox .text {
width: 100%; }

.contactForm .label {
  color: var(--brand) !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600; }

.contactForm .form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0; }

.contactForm .form-control {
  height: 36px;
  background: #fff;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.contactForm .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.5) !important; }
.contactForm .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.5) !important; }
.contactForm .form-control:-ms-input-placeholder {
  /* IE 0+ */
  color: rgba(0, 0, 0, 0.5) !important; }
.contactForm .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.5) !important; }
.contactForm .form-control:focus, .contactForm .form-control:active {
  border-color: var(--brand) !important; }

.contactForm textarea.form-control {
height: inherit !important; }

.heading-39291 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 30px; }

/* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part {
  padding-top: 65px;
}

/* line 5, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_text h2 {
  font-size: 42px;
  line-height: 1.222;
  margin-bottom: 20px;
}

@media (max-width: 576px) {

  /* line 5, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text h2 {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 5, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text h2 {
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 5, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text h2 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 5, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text h2 {
    margin-top: 0px;
    font-size: 35px;
  }
}

/* line 32, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_text p {
  line-height: 1.8;
}

/* line 36, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_text .btn_1 {
  margin-top: 45px;
}

@media (max-width: 576px) {

  /* line 36, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text .btn_1 {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 36, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text .btn_1 {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 36, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text .btn_1 {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 36, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_text .btn_1 {
    margin-top: 25px;
  }
}

/* line 57, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_part {
  padding: 50px 20px 35px;
  border: 1px solid #f0f4f6;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 576px) {

  /* line 57, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part {
    padding: 25px 10px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 57, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part {
    padding: 30px 15px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 57, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part {
    padding: 30px 25px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 57, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part {
    margin-top: 25px;
  }
}

/* line 82, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_part span {
  margin-bottom: 30px;
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  background-color: #f0f4f6;
  display: inline-block;
  line-height: 80px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 576px) {

  /* line 82, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part span {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 82, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part span {
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 82, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part span {
    margin-bottom: 35px;
  }
}

/* line 110, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_part span i {
  color: #0c2e60;
  font-size: 24px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

/* line 116, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_part h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {

  /* line 116, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part h4 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 116, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part h4 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 116, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .feature_part .single_feature_part h4 {
    margin-bottom: 15px;
  }
}

/* line 137, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature_part p {
  color: #7f7f7f;
  line-height: 1.8;
  font-size: 15px;
}

/* line 145, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature:hover .single_feature_part {
  border: 1px solid var(--brand);
}

/* line 148, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature:hover span {
  background-size: 200% auto;
}

/* line 152, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.feature_part .single_feature:hover span i {
  color: #fff;
}

/* line 159, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
.single_feature_padding {
  padding-top: 140px;
}

@media (max-width: 576px) {

  /* line 159, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .single_feature_padding {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  /* line 159, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .single_feature_padding {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 159, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .single_feature_padding {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 159, E:/172 Etrain Education/172_Etrain_Education_html/sass/_feature_part.scss */
  .single_feature_padding {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 3640px) {
  .container-width {
    max-width: 1170px;
  }
}